<section class="childs__nurse">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="for__nurse">
                    <div class="for__nurse_subtitle">
                        <p>Для нянь</p>
                    </div>
                    <div class="for__nurse_title">
                        <h2>Як знайти роботу <br>
                            професійною нянею </h2>
                    </div>
                    <div class="for__nurse_item d-flex">
                        <div class="profile">
                            <h3>Створіть <br>
                                 профіль няні
                            </h3>
                            <p>Заповніть анкету няні, додайте фото, <br>
                                 опішить своі сильні сторони
                            </p>
                        </div>
                        <div></div>
                        <div></div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</section>