<section class="community">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Спільнота
                </h2>
                <div class="community__subtitle">
                    <p>Обмін досвідом, спілкування, рекомендації</p>
                </div>
            </div>
            <div class="comunity__item d-flex">
                <div class="col-6">
                    <div class="forum">
                        <img class="forum__line" src="../img/forum_Line 3.svg" alt="forum_Line 3">
                    </div>
                    <div class="forum__title">
                        <h3> Популярне на форумі</h3>
                    </div>
                    <div class="forum__content">
                        <p>8 червня Різне</p>
                        <a href="#">
                            Якого віку повинна бути відповідальна няня?
                        </a>
                    </div>
                    <div class="forum__content">
                        <p>8 червня Різне</p>
                        <a href="#">
                            З якого віку дитина готова для того аби її залишати наодинці з нянею?
                        </a>
                    </div>
                    <div class="forum__content">
                        <p>8 червня Різне</p>
                        <a href="#">
                            Якого віку повинна бути відповідальна няня?
                        </a>
                    </div>
                    <div class="forum__content">
                        <p>8 червня Різне</p>
                        <a href="#">
                            Якого віку повинна бути відповідальна няня?
                        </a>
                    </div>
                    <div class="forum__content">
                        <p>8 червня Різне</p>
                        <a href="#">
                            З якого віку дитина готова для того аби її залишати наодинці з нянею?
                        </a>
                    </div>
                    <div class="forum__content">
                        <p>8 червня Різне</p>
                        <a href="#">
                            Якого віку повинна бути відповідальна няня?
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="discussing">
                        <img class="forum__line" src="../img/forum_Line 3.svg" alt="forum_Line 3">
                    </div>
                    <div class="discussing__title">
                        <h3>Обговорюють зараз</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>