<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div class="col-4">
                    <footer class="footer__logo">
                        <div class="footer__logo-text">
                            <b>MOM</b>SEEK
                        </div>
                        <div class="footer__logo-subtext">
                            © 2022 сервіс для пошуку нянь поблизу
                        </div>
                    </footer>
                </div>
                <div class="col-8 d-flex">
                    <ul><a href="#">Контакти</a></ul>
                    <ul><a href="#">F.A.Q.</a></ul>
                    <ul><a href="#">Блог</a></ul>
                    <ul><a href="#">Фоум</a></ul>
                    <ul><a href="#">Анкети нянь</a></ul>
                    <ul><a href="#">Оголошення про роботу</a></ul>
                </div>
            </div>
        </div>
    </div>
</footer>