<footer class="footer">
   <div class="container">
    <div class="row">
        <div class="col-12">
           <div class="col-6">
            <footer class="footer__logo">
                <div class="footer__logo-text">
                    <b>MOM</b>SEEK 
                </div>
                <div class="footer__logo-subtext">
                    © 2022 сервіс для пошуку нянь поблизу
                </div>
            </footer>
           </div>
           <div class="col-6"></div>
        </div>
    </div>
   </div>
</footer>


