<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div class="col-6 d-flex align-items-center">
                    <div class="header_logo">
                        <b>MOM</b>SEEK
                    </div>
                    <div class="header_lang-img ms-2"></div>
                    <div class="header_lang-text ms-2">
                        Українська
                    </div>
                </div>
                <div class="col-6">
                    <div class="header_nav d-flex align-items-center">
                        <div class="header_nav-btn1">
                            <a href="#">Розмістити оголошення</a>
                        </div>
                        <div class="header_nav-btn2 ms-2">
                            <a href="#">Знайти роботу</a>
                        </div>
                        <div class="headere_lock ms-2">
                            <img src="../img/header_lock.svg" alt="header_lock">
                        </div>
                        <div class="header_lock-text ms-3">
                            Увійти
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>