<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 header__navigation">
                <div class="col-4">
                    <div class="header__menu-top">
                        <div class="header_logo">
                            <b>MOM</b>SEEK
                        </div>
                        <div class="header_lang-text ms-2 d-flex align-item-center">
                            <p class="d-none d-lg-block">Українська</p>
                            <p class="d-md-block d-lg-none">UA</p>
                            <img src="./img/lang_arow.svg" alt="lang_arow">
                            <div class="drop-down">
                                <a href="#">Eng</a>
                                <a href="#">Pl</a>
                                <a href="#">Esp</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="header_nav d-flex align-items-center">
                        <div class="header_nav-btn1">
                            <a href="#">Розмістити оголошення</a>
                        </div>
                        <div class="header_nav-btn2 ms-2">
                            <a href="#">Знайти роботу</a>
                        </div>
                        <div class="headere_lock ms-2">
                            <img src="../img/header_lock.svg" alt="header_lock">
                        </div>
                        <div class="header_lock-text ms-3">
                            Увійти
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>