<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-9">
                    <div class="hero_title">
                        <h2>Батьки вільні, діти доглянуті</h2>
                        <p>сервіс для пошуку нянь поблизу</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="hero_img">
                        <img src="../img/hero_img.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex align-item-center">
                <div class="col-4">
                    <div class="hero_btn-choice">
                        Шукаю няню
                    </div>
                </div>
                <div class="col-4">
                    <div class="hero_btn-city d-flex align-item-center">
                        <img src="../img/hero_btn-city.svg" alt="hero_btn-city">
                        <p> Київ, Україна</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="hero_btn-search">
                        Шукати
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>