<section class="parents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="for__parents">
                    <div class="for_parents-subtitle">
                        <p>Для батьків</p>
                    </div>
                    <div class="for_parents-title">
                        <h2>
                            Як знайти няню <br>
                            своєї мрії
                        </h2>
                    </div>
                    <div class="parents__item d-flex">
                        <div class="parents__item-your_ad">
                            <h3>Розмістіть ваше <br>
                                оголошення</h3>
                            <p>Розкажіть саме про ваші потреби та <br>
                                 завдання</p>
                        </div>
                        <div class="parents__item-questionnaire">
                            <h3>Перегляньте анкети  <br>
                                 нянь поблизу</h3>
                            <p>та проведіть співбесіду з тими хто <br>
                                 відповідає вашим вимогам </p>
                        </div>
                        <div class="parents__item-contract">
                            <h3>Найміть свою ідеальну <br> няню</h3>
                            <p>Обговоріть деталі, сформуйте договір <br>
                                 прямо на сайті</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>