<section class="parents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="for__parents">
                    <div class="for_parents-subtitle">
                        <p>Для батьків</p>
                    </div>
                    <div class="for_parents-title">
                        <h2>
                            Як знайти няню <br>
                            своєї мрії
                        </h2>
                    </div>
                    <div class="parents__item">
                        <div class="parents__item-your_ad">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>