<section class="parents">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="for__parents">
                    <div class="for_parents-subtitle">
                        <p>Для батьків</p>
                    </div>
                    <div class="for_parents-title">
                        <h2>
                            Як знайти няню <br>
                            своєї мрії
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="parents__item d-flex">
                <div class="parents__item-box1">

                </div>
                <div class="parents__item-box2">

                </div>
                <div class="parents__item-box3">

                </div>
            </div>
        </div>
    </div>
</section>