.parents {
    background: #F5F5F5;
}
.for__parents {
    margin-top: 74px;
    background-image: url(../../img/for_parents.png);
    max-height: 580px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .for_parents-subtitle {
        
        p {
            padding: 58px 0 38px 58px;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 22px;
            line-height: 1.2;
        }
    }

    .for_parents-title {
        padding: 0 0 120px 56px;
        h2 {
            color: #FFFFFF;
            font-weight: 800;
            font-size: 58px;
            line-height: 1.2;
        }
    }
    .parents__item-your_ad {
        margin-left: 42px;
        margin-bottom: 12px;
        border-radius: 12px;
        background-color: white;
        h3 {
            padding-top: 18px;
            padding-bottom: 17px;
            padding-left: 20px;
            font-weight: 800;
            font-size: 24px;
            line-height: 1.2;
            color: #1E3173;
        }
        p{
            padding-left: 20px;
            padding-bottom: 30px;
            padding-right: 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            color: #1E3173;
        }
    }
    .parents__item-questionnaire {
        margin-left: 38px;
        margin-bottom: 12px;
        border-radius: 12px;
        background-color: #1E3173;
        h3{
            padding-top: 18px;
            padding-bottom: 17px;
            padding-left: 20px;
            font-weight: 800;
            font-size: 24px;
            line-height: 1.2;
            color: white;
        }
        p{
            padding-left: 20px;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            color: white;
        }
    }
    .parents__item-contract{
        background-color: #1E3173;
        border-radius: 12px;
        margin-bottom: 12px;
        margin-left: 38px;
        h3{
            padding-top: 18px;
            padding-bottom: 17px;
            padding-left: 20px;
            font-weight: 800;
            font-size: 24px;
            line-height: 1.2;
            color: white;
        }
        p{
            padding-left: 20px;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            color: white;
        }
    }
}